<!DOCTYPE html>
<html>
    <head>
        <title>Chosen Recipe</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <%- include('header.ejs')%>
        <h1>Chosen Recipe</h1>

        <section>

        </section>

        <%- include('footer.ejs')%>
    </body>