<!DOCTYPE html>
<html>
    <head>
        <title>Exit Game</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <%- include('header.ejs')%>
        <h1>Exit Game</h1>

        <section>
            <button onclick="location.href='/'">Return to Home Page</button>
            //Add a button to kill the application when the user clicks it
        </section>

        <%- include('footer.ejs')%>
    </body>