<!DOCTYPE html>
<html>
    <head>
        <title>Finished Result</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <%- include('header.ejs')%>
        <h1>Finished Result for: <%= recipe %></h1>

        <section>
            <img id="finishedResultImg" src="<%= finishedCooking %>" alt="Finished Result Image">
        </section>

        <%- include('footer.ejs')%>
    </body>