<!DOCTYPE html>
<html> 
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <%- include('header.ejs')%>
        <section>
            <button onclick="location.href='/startGame'">Start Game</button>
        </section>

        <%- include('footer.ejs')%>
    </body>
</html>