<!DOCTYPE html>
<html>
    <head>
        <title>Start Game</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <%- include('header.ejs')%>
        <section>
            <h2>Recipes</h2>
            <p>Here are the recipes for the bakery game:</p>
            <ol>
                <li><button type="button" onclick="location.href='/bakingProcess?recipe=Chocolate Chip Cookies'" method="POST">Chocolate Chip Cookies</button></li>
                <li><button type="button" onclick="location.href='/bakingProcess?recipe=Blueberry Muffins'" method="POST">Blueberry Muffins</button></li>
                <li><button type="button" onclick="location.href='/bakingProcess?recipe=Apple Pie'" method="POST">Apple Pie</button></li>
            </ol>
        </section>

        <%- include('footer.ejs')%>
    </body>
</html>