<!DOCTYPE html>
<html>
    <head>
        <title>Start Game</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <%- include('header.ejs')%>
        <section>
            <h2>Recipes</h2>
            <p>Here are the recipes for the bakery game:</p>
            <ol>
                <li>Chocolate Chip Cookies</li>
                <li>Blueberry Muffins</li>
                <li>Apple Pie</li>
            </ol>
        </section>

        <%- include('footer.ejs')%>
    </body>
</html>