body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     width: 100vw;
  height: 100vh;
    background-image: url('../images/maxresdefault.jpg');
    background-size: cover;
    

}

img {
    width: 300px;
    height: 200px;
    object-fit: cover; /* or contain */
}